.fullMenu,
.links,
.user {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:639px) {
    .fullMenu {
        position: fixed;
        color: #fff;
        top: 3.2rem;
        left: 2.5%;
        width: 95vw;
        z-index: 5;
        padding: 1rem 0;
        background: rgba(25, 64, 109, 0.7);
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 3px );
        -webkit-backdrop-filter: blur( 3px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
    
    .fullMenu,
    .links,
    .user {
        display: inline-flex;
        flex-direction: column;
        gap: 1em;
}
}