.img-cover {
    background: url('https://i.postimg.cc/SNGMTM0Z/cover-beach.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 16/9;
    display: grid;
    grid-template-areas: "hero .";
}

.hero {
    grid-area: hero;
    margin-top: 10rem;
}

header h1,
header p {
    color: #fff;
    text-shadow: 0 0 3px #000;
}

header h1 {
    font-size: 80px;
}

header p {
    font-size: 20px;
}

header p:first-child {
    font-size: 30px;
}

header button {
    font-size: 1.5rem;
    margin: 1.25rem 0;
    padding: 0.25rem 1rem 0.5rem 1rem;
}

@media (max-width:1000px) {
    .hero {
        margin-top: 6rem;
    }

    header h1 {
        font-size: 65px;
    }
    
    header p {
        font-size: 1.125rem;
    }
    
    header p:first-child {
        font-size: 1.75rem;
    }

    header button {
        font-size: 1.25rem;
    }
}

@media (max-width:800px) {
    .hero {
        margin-top: 4rem;
    }

    header h1 {
        font-size: 50px;
    }
    
    header p {
        font-size: 1rem;
    }
    
    header p:first-child {
        font-size: 1.5rem;
    }

    header button {
        font-size: 1rem;
    }
}

@media (max-width:650px) {
    .hero {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header h1 {
        font-size: 30px;
    }
    
    header p {
        font-size: 0.75rem;
    }
    
    header p:first-child {
        font-size: 1rem;
    }

    header button {
        font-size: 0.75rem;
        margin: 0.25rem 0
    }
}