.swiper-button-prev::after,
.swiper-button-next::after {
    color: #fff;
}

.swiper-pagination-bullet {
    border: 2px solid #fff;
    width: 10px;
    aspect-ratio: 1/1;
}

.cHeight {
    aspect-ratio: 3/2;
}