.mySwiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    color: white;
}

.swiper-pagination-bullet {
    border: 2px solid white;
    width: 10px;
    aspect-ratio: 1/1;
}
